{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>  
</div>
<div class="work-experience">
    <h2>Experience</h2>
    <div class="work-item">
        <div>
          <p><strong><a href="https://line.me/en/" target="_blank">LINE</a> - Quality Engineer</strong></p>
          <p>2022 Aug ~ Present</p>
        </div>
    </div>
    <div class="work-item">
        <div>
          <p><strong><a href="https://www.3i.ai/" target="_blank">3i Inc</a> - QA Engineer</strong></p>
          <p>2020 Dec ~ 2022 Aug</p>
        </div>
    </div>
</div><br><br>
    
