{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p><br><br>
  
    <div id="resume">
        <p style="text-align: left;">Here's my <a href="https://drive.google.com/file/d/1yvzpagmTo1xDwr55jibgi-7EIr0G6aL1/view?usp=sharing"> Resume </a></p>
    </div>
</div>
